<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입 인증 이메일</title>
</head>
<body>
<div style="background-color: #566573; margin-bottom: 8px; padding: 16px 24px; align-items: center; display: flex; flex-direction: row; justify-content: flex-start;">
    <span style="color: #eaecee; font-size: 24px;">회원가입 인증번호</span>
    <span style="flex: 1;"></span>
    <span style="color: #eaecee; font-size: 32px; margin-right: 10px;">BBS</span>
</div>
<div style="background-color: #eaecee; margin-bottom: 8px; padding: 16px 24px">
    <p>BBS에 회원가입을 위한 인증번호입니다. 해당 인증번호를 타인에게 전달할 경우 개인정보 노출의 위험이 있으므로 절대로 해당 인증번호를 타인에게 알려주어서는 안 됩니다.</p>
    <p>인증번호를 요청 한 적이 없다면 해당 메일을 안전하게 폐기해 주세요.</p>
    <p>아래 인증번호를 정확하게 입력하여야 회원가입을 진행할 수 있습니다. 인증번호는 발송 요청 시점으로부터 5분간만 유효함으로 유의해 주세요.</p>
</div>

<code style="background-color: #eaecee; color: #2c3e50; display: block; font-family: 'Consolas', monospace; font-size: 24px; margin-bottom: 8px; padding: 12px 24px; text-align: center;" th:text="${emailAuth.getCode()}">000000</code>
<code style="background-color: #eaecee; color: #2c3e50; display: block; font-family: 'Consolas', monospace; margin-bottom: 8px; padding: 16px 24px;">
    <div>
        <span>요청 IP 주소 : </span>
<!--        <span th:text="${#request.getRemoteAddr()}">000.000.000.000</span>-->
    </div>
    <div>
        <span>요청 브라우저 : </span>
<!--        <span th:text="${#request.getHeader('User-Agent')}">Some User-Agent Here</span>-->
    </div>
    <div>
        <span>요청 일시 : </span>
        <span th:text="${#dates.format(emailAuth.getCreatedAt(), 'yyyy-MM-dd HH:mm:ss')}">0000-00-00 00:00:00</span>
    </div>
</code>
<div style="background-color: #566573; color: #eaecee; padding: 16px 24px;">&copy; 2023 WHL All Rights Reversed.</div>
</body>
</html>