<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/common.css}">
    <link rel="stylesheet" th:href="@{/user/resources/stylesheets/resetPassword.css}">
    <script defer th:src="@{/resources/scripts/common.js}"></script>
    <script defer th:src="@{/user/resources/scripts/resetPassword.js}"></script>
    <title>비밀번호 재설정</title>
</head>
<body>

<th:block th:replace="~{fragments.html :: common}"></th:block>
<th:block th:replace="~{fragments.html :: header}"></th:block>
<main class="content-container-wrapper" id="main">
    <div class="content-container">
        <div class="title-container">
            <h1 class="title">비밀번호 재설정</h1>
        </div>
        <form class="reset-password-form" id="resetPasswordForm" th:with="userRegex = ${T(com.whl.studybbs.regexes.UserRegex)}, emailAuthRegex = ${T(com.whl.studybbs.regexes.EmailAuthRegex)}">
            <input hidden type="hidden" id="emailSalt">
            <span class="message">이메일 인증을 통해 비밀번호를 재설정할 수 있습니다. 회원가입 시 사용했던 이메일을 통해 이메일 인증을 완료해 주세요.</span>
            <label class="label email">
                <span class="text">이메일</span>
                <span class="horizontal">
                    <input type="email" class="big common-field" maxlength="50" name="email" placeholder="이메일(user@sample.com)" th:data-regex="${userRegex.EMAIL.expression}">
                    <input type="button" name="emailSend" value="인증번호 발송" class="common-button">
                </span>
                <span class="horizontal">
                    <input disabled type="number" maxlength="6" minlength="6" name="emailCode" placeholder="이메일 인증번호(숫자 6자)" class="big common-field" th:data-regex="${emailAuthRegex.CODE.expression}">
                    <input disabled type="button" name="emailVerify" value="인증번호 확인" class="common-button">
                </span>
                <span class="complete" rel="emailComplete">이메일 인증이 완료되었습니다.</span>
            </label>
            <label class="label password">
                <span class="text">신규 비밀번호</span>
                <input disabled class="common-field" maxlength="50" name="password" placeholder="비밀번호" type="password" th:data-regex="${userRegex.PASSWORD.expression}">
                <input disabled class="common-field" maxlength="50" name="passwordCheck" placeholder="비밀번호 재입력" type="password" th:data-regex="${userRegex.PASSWORD.expression}">
            </label>
            <input disabled name="resetPassword" type="submit" value="비밀번호 재설정" class="common-button">
        </form>
    </div>
</main>
<th:block th:replace="~{fragments.html :: footer}"></th:block>
</body>
</html>